fastapi
uvicorn

# for database
sqlalchemy
psycopg2-binary

# for venv var
python-dotenv

# for email validation
pydantic[email]

# hashing
passlib[bcrypt]

# for testing
pytest
pytest-cov
requests

# for jwt tokens
python-jose

# for form data
python-multipart

# for template
jinja2